body{ margin:0; }

@media only screen and (max-device-width: 480px) {

	body{ font-size:40px;}

/* define mobile specific styles come here */
}


div#piechart{
/**/
	position:absolute;
	top:5.2em;
/*	left:25%;*/
	width:100%;
	height:50%;
	margin:0;
/**/
}

div#text-holder {
	z-index: 10000;
	margin: auto;
	left: 50%;
    margin-left: -7em;
	/*width: 158px;*/
	top:2.2em;
	position:absolute;
}


.overlay{
	left: 50%;
    margin-left: -1.5em;
	z-index: 10000;
	text-align: center;
	top: 34%;
	position:absolute;
}


div#piechart>div{
	position:absolute;
	top:33%;
/*	width:100%;*/
	text-align:center;
}

.overlay>h6{
	color:#e0603c;
	margin-bottom:2px;
}

.overlay>h1{
	color:#8b8271;
	margin-top:2px;
}

.legend{
	position:fixed;
	left:0;
	right:0;
	bottom:18%;
	height:12%;
/*	overflow-x:auto;*/
	text-align:center;
}

.legend .data{
	background:#f6f0ec;
	display:inline-block;
	height:100%;
	margin:auto;
}


.legend .data{
	background:#f6f0ec;
	display:inline-block;
	height:100%;
	margin:auto;
}

.legend .data>span{ display:block;height:5px;margin-bottom:1.0em; }
.legend .data>h5{ margin:1px auto;}
.legend .data>h2{ margin:5px auto;}

.footer{
	position:fixed;
	left:0;
	right:0;
	bottom:0px;
	height:18%;
	background:#776b5e;
}

.footer>a{
	display:inline-table;
	width:30%;
	height:100%;
	text-align:center;
	margin:1%;
	margin-top:0;
	padding-top:0.9em; 
	color:#fff;
	text-decoration:none;
	cursor:pointer;
}
.footer>a:hover{ background:#64584c; }

.footer>a>i{ font-size:2em; }
.footer>a>h5{ text-transform:uppercase;font-size:1.0em; }

.title{ margin-top:20px;  font-size:1.5em;}
/*.nav-tabs>li>a{ font-size:14px; } */

h1 { font-size: 2em !important; }
h2 { font-size: 1.5em !important; }
h3 { font-size: 1.17em !important; }
h5 { font-size: .83em !important; }
h6 { font-size: .75em !important; }

.nav>li { background-color: #8Fa77D; }
.nav>li>a{ color: #FFFFFF;}
